@import '../../../styles/settings';

.admin-card {
  box-shadow: 0.15rem 0 1.75rem 0 rgba(31, 45, 65, 0.35);
  border-radius: 5px;
  background-color: white;

  > .ui-card__footer,
  > div:first-child {
    position: relative;
    padding: 0.9em;
    background-color: rgba(33, 40, 50, 0.03);
  }

  > .ui-card__footer {
    border-top: 1px solid rgba(33, 40, 50, 0.125);
    display: flex;
    justify-content: center;
  }

  > div:first-child {
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    color: $gen-text-color;

    > button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1em;
      background-color: $gen-text-color;
      border-radius: 500px;
      border: none;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: all 0.3s;
      outline: none;
      color: white;
      font-size: 1.25rem;
      font-weight: 100;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: darken($gen-text-color, 20%);
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem lighten($gen-text-color, 20%);
      }
    }
  }
  > .ui-card__content {
    padding: 1.35rem;
  }
}
