@import '../../../styles/settings';

.app-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .app-list__title {
    font-size: 28px;
    color: $nav-font-color;
  }

  .app-list__apps-card {
    max-width: 1530px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    > * {
      margin: 0 1em;
      margin-bottom: 2em;
    }
  }
}
