/* GENERAL */
$gen-bg: #fff;
$gen-text-color: rgb(0, 97, 242);

/* NAV */
$nav-font-color: #363d47;

/* SIDEBAR */

$sidebar-font-color: #212832;
$sidebar-font-color-sec: #a7aeb8;
$sidebar-border-color: #d4dae3;
