/* GENERAL */
$gen-bg: #fff;
$gen-text-color: #0061f2;


/* NAV */
$nav-font-color: #363d47;

/* SIDEBAR */
$sidebar-font-color: #212832;
$sidebar-font-color-sec: #a7aeb8;
$sidebar-border-color: #d4dae3;

/* FORM */
$form-label-font-color: #69707a;
$form-error-font-color: #790b00;
$form-error-bg-color: #fad0cc;

