@import '../../../../styles/settings';
.ui-sidebar-footer {
  background-color: rgb(244, 244, 245);
  padding: 0px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.75rem;
  color: $sidebar-font-color-sec;
  height: 80px;
  transition: all 0.3s;
  overflow: hidden;

  > * {
    margin: 0;
  }

  > p {
    font-size: 1rem;
    color: black;
    font-weight: 500;
  }

  > .ui-sidebar-footer__login {
    letter-spacing: 1.5px;
    align-self: right;
  }
}
