@import '../../../styles/settings';

.auth-sigin-form__footer {
  cursor: pointer;
  color: $gen-text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.auth-sigin-form {
  button[type='submit'] {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
  }
}

.auth-sigin-form__loading {
  button[type='submit'] {
    cursor: progress;
  }
}
